:root {
	--color-header: #b5ceb9;
	--color-background: #f7f7f7;
	--color-background-hover: #739e7a;
	--color-text: #141414;
	--color-secondary: #404040;
	--color-faint: #737b71;
	--color-text-hover: #9c4a1a;
	--color-links: #183331;
	--color-hover: #527074;
	--color-unknown-image: #c0c9c183;
}
