@font-face {
	font-family: 'WixMadeforDisplay';
	src: url('../../public/fonts/WixMadeforDisplay-Medium.ttf');
}

@font-face {
	font-family: 'WixMadeforDisplay-Bold';
	src: url('../../public/fonts/WixMadeforDisplay-Bold.ttf');
}

:root {
	--font-main: 'WixMadeforDisplay', sans-serif;
	--font-bold: 'WixMadeforDisplay-Bold', sans-serif;
	--size-title: 60px;
	--size-second-title: 36px;
	--size-text: 20px;
	--size-third-title: 20px;
	--size-small-text: 16px;
	--size-very-small-text: 13px;
	--text-line-height: 30px;
}
